            <footer class="text-gray-600 body-font w-full">
                <div class="container py-10 mx-auto px-5">
                    <div
                        class="flex flex-wrap items-center justify-end xl:-mx-5"
                    >
                        <a href="/">
                            <img
                                class="h-8 max-w-[8rem]"
                                src="/images/logo.svg"
                                alt="logo"
                            />
                        </a>
                        <span class="pl-3 text-sm">
                            &copy; 2024 Virtual Vintage Inc.
                        </span>
                    </div>
                </div>
            </footer>
        </main>
    </body>
</html>
