doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title #{title}
    link(href="../styles/style.css", rel="stylesheet")
    link(href="../styles/tailwind.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com", rel="preconnect")
    link(href="https://fonts.gstatic.com", rel="preconnect" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000", rel="stylesheet")
    script(type="text/javascript").
        window.addEventListener('DOMContentLoaded', function() {
          const btn = document.querySelector(".share-button");
          const dialog = document.querySelector(".share-dialog");
          btn.addEventListener('click', async () => {
            dialog.classList.toggle("hidden");
          });
      }, false);
    script(src="https://cdn.jsdelivr.net/npm/share-buttons/dist/share-buttons.js" async)
    
  body
    main
      header.text-gray-600.body-font.w-full.header
          .container.mx-auto.flex.flex-wrap.p-5.flex-col.items-center(class='md:flex-row')
            a.flex.items-center.text-gray-900.mb-4(class='md:mb-0' href='/')
              img.h-8(src='/images/logo.svg', alt='logo', class='max-w-[10rem]')
            nav.flex.flex-wrap.items-end.text-base.justify-center.ml-auto.mr-0(class='-mt-2 md:mr-0 sm:mr-auto')
              a.mr-10(href='/') Home
              a.mr-10(href='/catalog', class=`${selected}`) Catalog
              a.mr-10(href='/') Docs
              a.mr-10(href='/') Community
              a(class='hover:text-blue-900', href='/') Try it now!
      block content
  
      footer.text-gray-600.body-font.w-full
          div.container.py-10.mx-auto
            div.flex.items-center.justify-end.px-5
                a(href='/')
                  img.h-8(src='/images/logo.svg', alt='logo', class='max-w-[8rem]') 
                span.pl-3.text-sm.font-medium.text-gray-900 &copy; 2024 Virtual Vintage Inc.
