<%- include ("./partials/subpage-header.ejs") %>
    <section class="body-font pt-20 pb-10 max-w-3xl mx-auto px-5">
        <div class="lg:-mx-5">
            <h3 class="font-medium max-w-3xl mx-auto">Catalog</h3>
            <p class="text-sm">
                Select a synthesizer in our catalog to interface with it using
                standard MIDI and receive the audio output on demand.
            </p>
            <div class="body-font pt-6 pb-10 max-w-3xl mx-auto">
                <div class="flex flex-wrap -m-4">
                    <a
                        class="p-4 md:w-1/3 hover:no-underline hover:no-focus"
                        href="/catalog/item1?i=1"
                    >
                        <div
                            class="h-full bg-gray-100 rounded-lg overflow-hidden hover:shadow-md"
                        >
                            <img
                                class="w-full object-cover object-center bg-gray-100 lg:h-48 md:h-36"
                                src="/images/synth1.jpg"
                                alt="Aurora Synthex"
                            />
                            <div class="p-6">
                                <p class="text-sm font-bold mb-4">Aurora Synthex</p>
                                <p class="text-sm">
                                    "The Aurora Synthex" boasts a striking design
                                    inspired by the aurora borealis, with a sleek
                                    metallic casing adorned with iridescent panels
                                    that shimmer like the dancing lights of the
                                    northern skies.
                                </p>
                            </div>
                        </div>
                    </a>
                    <a
                        class="p-4 md:w-1/3 hover:no-underline hover:no-focus"
                        href="/catalog/item2?i=2"
                    >
                        <div
                            class="h-full bg-gray-100 rounded-lg overflow-hidden hover:shadow-md"
                        >
                            <img
                                class="w-full object-cover object-center bg-gray-100 lg:h-48 md:h-36"
                                src="/images/synth2.jpg"
                                alt="Solaris Spectra"
                            />
                            <div class="p-6">
                                <p class="text-sm font-bold mb-4">
                                    Solaris Spectra
                                </p>
                                <p class="text-sm">
                                    At its core, "The Solaris Spectra" features a
                                    revolutionary "Solar Oscillator" technology,
                                    capable of generating an infinite variety of
                                    rich, harmonically complex waveforms.
                                </p>
                            </div>
                        </div>
                    </a>
                    <a
                        class="p-4 md:w-1/3 hover:no-underline hover:no-focus"
                        href="/catalog/item3?i=3"
                    >
                        <div
                            class="h-full bg-gray-100 rounded-lg overflow-hidden hover:shadow-md"
                        >
                            <img
                                class="w-full object-cover object-center bg-gray-100 lg:h-48 md:h-36"
                                src="/images/synth3.jpg"
                                alt="Celestial Voyager"
                            />
                            <div class="p-6">
                                <p class="text-sm font-bold mb-4">
                                    Celestial Voyager
                                </p>
                                <p class="text-sm">
                                    One of the defining features of "The Celestial
                                    Voyager" is its "Astro-Modulation Matrix," a
                                    sophisticated routing system that allows for
                                    complex modulation of parameters such as
                                    oscillator pitch, filter cutoff, and envelope
                                    settings.
                                </p>
                            </div>
                        </div>
                    </a>
                    <a
                        class="p-4 md:w-1/3 hover:no-underline hover:no-focus"
                        href="/catalog/item4?i=4"
                    >
                        <div
                            class="h-full bg-gray-100 rounded-lg overflow-hidden hover:shadow-md"
                        >
                            <img
                                class="w-full object-cover object-center bg-gray-100 lg:h-48 md:h-36"
                                src="/images/synth4.jpg"
                                alt="Synth"
                            />
                            <div class="p-6">
                                <p class="text-sm font-bold mb-4">Neon Nova</p>
                                <p class="text-sm">
                                    Playing "The Neon Nova" is like stepping into a
                                    time machine and journeying back to the
                                    neon-soaked streets of the 1980s. Its responsive
                                    keyboard, crafted from space-age materials,
                                    offers a tactile playing experience that invites
                                    players to unleash their creativity and embrace
                                    the retro-futuristic sounds of the era.
                                </p>
                            </div>
                        </div>
                    </a>
                    <a
                        class="p-4 md:w-1/3 hover:no-underline hover:no-focus"
                        href="/catalog/item5?i=5"
                    >
                        <div
                            class="h-full bg-gray-100 rounded-lg overflow-hidden hover:shadow-md"
                        >
                            <img
                                class="w-full object-cover object-center bg-gray-100 lg:h-48 md:h-36"
                                src="/images/synth5.jpg"
                                alt="Synth"
                            />
                            <div class="p-6">
                                <p class="text-sm font-bold mb-4">Cosmosynth</p>
                                <p class="text-sm">
                                    What truly sets "The Cosmosynth" apart is its
                                    celestial filter bank, a resonant network of
                                    filters that adds depth and character to the
                                    sound. With its sweeping cutoff frequencies and
                                    resonant peaks, the filter bank allows musicians
                                    to create dynamic textures and evolving timbres
                                    that evoke the vastness of space.
                                </p>
                            </div>
                        </div>
                    </a>
                    <a
                        class="p-4 md:w-1/3 hover:no-underline hover:no-focus"
                        href="/catalog/item6?i=6"
                    >
                        <div
                            class="h-full bg-gray-100 rounded-lg overflow-hidden hover:shadow-md"
                        >
                            <img
                                class="w-full object-cover object-center bg-gray-100 lg:h-48 md:h-36"
                                src="/images/synth6.jpg"
                                alt="Synth"
                            />
                            <div class="p-6">
                                <p class="text-sm font-bold mb-4">
                                    Celestial Harmonicus
                                </p>
                                <p class="text-sm">
                                    The "Celestial Harmonicus" features a powerful
                                    synthesis engine capable of producing a wide
                                    range of lush, atmospheric sounds. Its
                                    oscillators offer a variety of waveforms, from
                                    warm, analog tones to ethereal digital textures,
                                    allowing musicians to sculpt rich, dynamic
                                    timbres with ease.
                                </p>
                            </div>
                        </div>
                    </a>
                    <a
                        class="p-4 md:w-1/3 hover:no-underline hover:no-focus"
                        href="/catalog/item7?i=7"
                    >
                        <div
                            class="h-full bg-gray-100 rounded-lg overflow-hidden hover:shadow-md"
                        >
                            <img
                                class="w-full object-cover object-center bg-gray-100 lg:h-48 md:h-36"
                                src="/images/synth7.jpg"
                                alt="Synth"
                            />
                            <div class="p-6">
                                <p class="text-sm font-bold mb-4">Lunar Beatbox</p>
                                <p class="text-sm">
                                    What sets "The Lunar Beatbox" apart is its
                                    versatility. Equipped with a programmable
                                    sequencer, musicians can create intricate
                                    rhythms and patterns with ease. The sequencer
                                    offers multiple tracks, allowing for layering
                                    and arranging of drum patterns to create dynamic
                                    compositions.
                                </p>
                            </div>
                        </div>
                    </a>
                    <a
                        class="p-4 md:w-1/3 hover:no-underline hover:no-focus"
                        href="/catalog/item8?i=8"
                    >
                        <div
                            class="h-full bg-gray-100 rounded-lg overflow-hidden hover:shadow-md"
                        >
                            <img
                                class="w-full object-cover object-center bg-gray-100 lg:h-48 md:h-36"
                                src="/images/synth8.jpg"
                                alt="Synth"
                            />
                            <div class="p-6">
                                <p class="text-sm font-bold mb-4">Stellar Rhythm</p>
                                <p class="text-sm">
                                    The true magic of "The Stellar Rhythm" lies in
                                    its sonic sculpting capabilities. Equipped with
                                    a range of parameter controls including pitch,
                                    decay, and resonance, musicians can shape each
                                    drum sound to their liking, from thunderous
                                    booms to delicate whispers.
                                </p>
                            </div>
                        </div>
                    </a>
                    <a
                        class="p-4 md:w-1/3 hover:no-underline hover:no-focus"
                        href="/catalog/item9?i=9"
                    >
                        <div
                            class="h-full bg-gray-100 rounded-lg overflow-hidden hover:shadow-md"
                        >
                            <img
                                class="w-full object-cover object-center bg-gray-100 lg:h-48 md:h-36"
                                src="/images/synth9.jpg"
                                alt="Synth"
                            />
                            <div class="p-6">
                                <p class="text-sm font-bold mb-4">Nexus Nova</p>
                                <p class="text-sm">
                                    The "Nexus Nova" features a state-of-the-art
                                    digital synthesis engine, capable of producing
                                    an expansive range of sounds that span the
                                    spectrum from vintage analog warmth to
                                    cutting-edge digital brilliance.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
<%- include ("./partials/subpage-footer.ejs") %>