extends layouts/page

block content
  section.body-font.pt-20.pb-10.max-w-3xl.mx-auto.break-words
    h1= message
    h2= error.status
    h3='Oops! Something went wrong.'
    p.max-w-3xl.font-mono #{error.stack}
