doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Welcome to #{title}
    link(href="../styles/style.css", rel="stylesheet")
    link(href="../styles/tailwind.css", rel="stylesheet")

  body
   main
      header.text-gray-600.body-font.bg-teal-100
         .container.mx-auto.flex.flex-wrap.p-5.flex-col.items-center(class='md:flex-row')
            a.flex.items-center.text-gray-900.mb-4(class='md:mb-0')
            img.h-8.bg-gray-100(src='{logo}', alt='logo')
            nav.flex.flex-wrap.items-center.text-base.justify-center(class='md:mr-auto md:ml-5 md:py-1 md:pl-5')
            a.mr-10(class='hover:text-blue-900', href='/') Home
            a.mr-10(class='hover:text-blue-900', href='/') Catalog
            a.mr-10(class='hover:text-blue-900', href='/') Docs
            a.mr-10(class='hover:text-blue-900', href='/') Community
            a.mr-10(class='hover:text-blue-900', href='/') Try it now!

      div
         div.relative.overflow-hidden.pb-28.h-64
            div.flex.absolute.w-full
               div.w-full.h-64.bg-red-100
         div.bg-white
            div.w-full.max-w-3xl.mx-auto.rounded-sm.shadow-xl.z-20.bg-teal-900.relative(class='-mt-28')
               div.text-white.text-center.px-10.py-8(class='max-w-22rem')
                  h1.mb-3 Welcome to Virtual Vintage!
                  span.flex.pt-3 
                  | Have you ever wanted to play a 
                  b Neon Nova, Solaris Spectre, 
                  b or Aurora 
                  | Synthex?  Although many of us have home studios and can make great music with software tools, there is some magic missing that only real hardware can provide. 
                  | Sadly many classic synthesizers are becoming more rare and consequently expensive, which puts them out of reach for most musicians and hobbyists.  Thankfully we have a solution for you!

      section.body-font.pt-20.pb-10.max-w-3xl.mx-auto
         h3.text-center.max-w-3xl.mx-auto Browse our Catalog
         p.pb-10 We have a studio full of vintage synthesizers that we want to make available to you virtually, in real-time. Using our web application you can interface with synthesizers in our catalog using standard MIDI and receive the audio output on demand.
         div.container.px-5.py-10.mx-auto
            div.flex.flex-wrap.-m-4
               a.p-4(class='md:w-1/3 hover:no-underline hover:no-focus', href='/')
                  div.h-full.border-2.border-gray-200.border-opacity-60.rounded-lg.overflow-hidden(class='hover:shadow-xl')
                     img.w-full.object-cover.object-center.bg-gray-100(class='lg:h-48 md:h-36', src='/', alt='alt for image')
                     
               a.p-4(class='md:w-1/3 hover:no-underline hover:no-focus', href='/')
                  div.h-full.border-2.border-gray-200.border-opacity-60.rounded-lg.overflow-hidden(class='hover:shadow-xl')
                     img.w-full.object-cover.object-center.bg-gray-100(class='lg:h-48 md:h-36', src='/', alt='alt for image')
                     
               a.p-4(class='md:w-1/3 hover:no-underline hover:no-focus', href='/')
                  div.h-full.border-2.border-gray-200.border-opacity-60.rounded-lg.overflow-hidden(class='hover:shadow-xl')
                     img.w-full.object-cover.object-center.bg-gray-100(class='lg:h-48 md:h-36', src='/', alt='alt for image')
   div.bg-red-100
      section.body-font.max-w-3xl.mx-auto.pt-20.mt-1
         h3.text-center.max-w-3xl.mx-auto Join our illustrious customer base!
         div.container.px-5.py-10.mx-auto
            div.flex.-m-4
               a.p-4(class='md:w-1/3 hover:no-underline hover:no-focus', href='/')
                  div.flex.overflow-hidden.border.border-gray-500.rounded-lg.items-center.gap-6(class='hover:shadow-xl')
                     img.h-10.bg-gray-100(src='{logo}', alt='image')
                     h5.title-font.text-lg.font-medium.text-gray-900 Customer
               a.p-4(class='md:w-1/3 hover:no-underline hover:no-focus', href='/')
                   div.flex.overflow-hidden.border.border-gray-500.rounded-lg.items-center.gap-6(class='hover:shadow-xl')
                     img.h-10.bg-gray-100(src='{logo}', alt='image')
                     h5.title-font.text-lg.font-medium.text-gray-900 Customer
               a.p-4(class='md:w-1/3 hover:no-underline hover:no-focus', href='/')
                    div.flex.overflow-hidden.border.border-gray-500.rounded-lg.items-center.gap-6(class='hover:shadow-xl')
                     img.h-10.bg-gray-100(src='{logo}', alt='image')
                     h5.title-font.text-lg.font-medium.text-gray-900 Customer
               a.p-4(class='md:w-1/3 hover:no-underline hover:no-focus', href='/')
                  div.flex.overflow-hidden.border.border-gray-500.rounded-lg.items-center.gap-6(class='hover:shadow-xl')
                     img.h-10.bg-gray-100(src='{logo}', alt='image')
                     h5.title-font.text-lg.font-medium.text-gray-900 Customer

      footer.text-gray-600.body-font
         div.container.py-10.mx-auto
            div.flex.items-center.justify-end
               img.h-8.bg-gray-100(src='{logo}', alt='logo') 
               span.pl-3.text-sm.font-medium.text-gray-900 &copy; 2024 Atono Inc.
