extends layouts/homepage.pug
block content
   div
      div.relative.overflow-hidden.pb-28.h-64
         div.flex.absolute.w-full
            div.w-full.h-64.banner
      div.bg-white
         div.w-full.max-w-2xl.mx-auto.rounded-sm.shadow-xl.z-20.bg-deep-teal.relative(class='-mt-28')
            div.text-white.text-center.px-10.py-8(class='max-w-22rem')
               h1.mb-3 Welcome to Virtual Vintage!
               span.flex.pt-3 
               | Have you ever wanted to play a 
               b Neon Nova, Solaris Spectre, 
               b or Aurora 
               | Synthex?  Although many of us have home studios and can make great music with software tools, there is some magic missing that only real hardware can provide. 
               | Sadly many classic synthesizers are becoming more rare and consequently expensive, which puts them out of reach for most musicians and hobbyists.  Thankfully we have a solution for you!

   section.body-font.pt-20.pb-10.max-w-3xl.mx-auto
      h3.max-w-3xl.mx-auto Browse our Catalog
      p.pb-10 We have a studio full of vintage synthesizers that we want to make available to you virtually, in real-time. Using our web application you can interface with synthesizers in our catalog using standard MIDI and receive the audio output on demand.
      
      div.carousel-wrapper
         button.carousel-arrow.carousel-arrow--prev(class='sr-only')
            span(class="-mt-2") &lsaquo;
         button.carousel-arrow.carousel-arrow--next
            span(class="-mt-2") &rsaquo;
         .carousel-container(dir='ltr')
            .carousel-slide 
               a(href='/catalog/item1?index=1')
                  img(src='/images/synth01.jpg', alt='Synth')
            .carousel-slide 
               a(href='/catalog/item9?index=9')
                  img(src='/images/synth02.jpg', alt='Synth')
            .carousel-slide 
               a(href='/catalog/item4?index=4')
                  img(src='/images/synth03.jpg', alt='Synth')
            .carousel-slide 
               a(href='/catalog/item5?index=5')
                  img(src='/images/synth04.jpg', alt='Synth')